@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

body {
  @include display-flex(center, center, column, 20px);
  min-height: 100vh;
  background-color: $grey-100;
  padding: 15px;
}

.whole {
  padding: 50px 30px;
  background: #fff;
  z-index: 1;
  border-radius: 20px 20px 150px 20px;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 50px;
  }
}

main {
  @include display-flex(space-between, none, column, 25px);
  max-width: 600px;
}

.input-section {
  @include display-flex(space-between, none, row, 20px);

  @media (min-width: $tablet) {
    padding-right: 150px;
  }
  
  >* {
    flex: 1;
  }
  
  .input-groups {
    @include display-flex(start, none, column, 5px);
    
    label {
      letter-spacing: 2px;
      color: $grey-500;
      text-transform: uppercase;
      font-family: 'poppins-bold';
      font-size: .6rem;

      @media (min-width: $tablet) {
        font-size: 1rem;
      }

      &.label-error-state {
        color: $red-400;
        animation-name: labelMove;
        animation-duration: 1s;
      }
    }
    
    input {
      font-family: 'poppins-bold';
      width: 100%;
      padding: 10px 15px;
      border: 1px solid $grey-200;
      border-radius: 10px;
      outline: none;
      background: #fff;
      caret-color: $purple-500;
      font-size: 1.2rem;

      @media (max-width: $mobile) {
        font-size: 1rem;
        padding: 10px;
      }

      @media (min-width: $tablet) {
        font-size: 1.5rem;
      }
      
      &:hover {
        cursor: pointer;
      }
      
      &:focus {
        border: 1px solid $purple-500;
        
      }

      &.input-error-state {
        border: 1px solid $red-400;
      }
    }

    span {
      display: none;

      &.error-message {
        display: block;
        color: $red-400;
        font-weight: 400;
        font-style: italic;
        font-size: .6rem;

        @media (min-width: $tablet) {
          font-size: .8rem;
        }
      }
    }
  }
}

.button-section {
  @include display-flex(center, center, row, 5px);
  position: relative;
  
  @media (min-width: $tablet) {
    @include display-flex(flex-end, center, row, 5px);
  }
  
  button {
    background-color: $purple-500;
    border: none;
    border-radius: 50%;
    padding: 15px;
    transition: background-color .3s, opacity .3s;
    outline: none;

    img {
      width: 2rem;
      display: block;
    }

    &:hover {
      background-color: #000;
      cursor: pointer;
    }
    &:active {
      opacity: .5;
    }
  }
  
  &::after {
    content: '';
    border: 1px solid $grey-200;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}

.result-section {
  @include display-flex(start, none, column, 0px);

  h1 {
    line-height: 1;
    font-size: 2.5rem;
    font-family: 'poppins-bold-italic';
    
    @media (min-width: $tablet) {
      font-size: 3.5rem;
    }
    
    @media (min-width: $desktop) {
      font-size: 5rem;
    }
    
    span {
      font-family: 'poppins-bold-italic';
      color: $purple-500;
    }
  }
}



.attribution {
  font-size: 11px; 
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}